In [77]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import AutoLocator

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('TeslaDeaths.csv')


# num_cols = len(df.columns)
# num_rows = (num_cols // 2) + (num_cols % 2)

# fig = plt.figure(figsize=(20,70))
# for col in range(num_cols-1):
#     ax = fig.add_subplot(num_rows, 2, col + 1)
#     sns.boxplot(x=df.iloc[:, col], ax=ax)
#     ax.set_title(df.columns[col])
#     ax.xaxis.set_major_locator(AutoLocator())
# plt.show()

# df[[" State "]].dropna()
df.head()

,Case #,Year,Date,Country,State,Description,Deaths,Tesla driver,Tesla occupant,Other vehicle,...,TSLA+cycl / peds,Model,AutoPilot claimed,Verified Tesla Autopilot Death,Source,Note,Deceased 1,Deceased 2,Deceased 3,Deceased 4
0,254,2022,8/16/2022,Germany,NaN,"Tesla car crashes into tree, burns",2,NaN,NaN,-,...,2,NaN,-,-,https://www.tag24.de/nachrichten/unfall/tesla...,NaN,NaN,NaN,NaN,NaN
1,253,2022,8/15/2022,USA,CA,Tesla veers into oncoming traffic,4,1,3,-,...,4,NaN,-,-,https://www.ksbw.com/article/hollister-crash-...,NaN,NaN,NaN,NaN,NaN
2,252,2022,8/14/2022,Finland,NaN,Unlicensed driver hits pedestrian,1,-,-,-,...,1,NaN,-,-,https://yle.fi/uutiset/3-12576787,NaN,NaN,NaN,NaN,NaN
3,251,2022,8/2/2022,USA,FL,Man in wheelchair hit crossing road,1,-,-,-,...,1,3,-,-,https://www.wfla.com/news/man-in-wheelchair-f...,NaN,NaN,NaN,NaN,NaN
4,250,2022,7/27/2022,USA,ME,Tesla crashes at high speed,1,1,-,-,...,1,-,-,-,https://www.boothbayregister.com/article/sout...,NaN,James T. Penner,NaN,NaN,NaN

In [78]:
print(df.shape)
print(df.duplicated().sum())

# removing spacing from column names
df.columns = df.columns.str.replace(' ','')

tabela= pd.DataFrame({
    'Unique':df.nunique(),
    'Null':df.isna().sum(),
    'NullPercent':df.isna().sum() / len(df),
    'Types':df.dtypes.values
})
display(tabela)

(254, 21)
0

                             Unique  Null  NullPercent    Types
Case#                           254     0     0.000000    int64
Year                             10     0     0.000000    int64
Date                            230     0     0.000000   object
Country                          22     0     0.000000   object
State                            34    69     0.271654   object
Description                     212     0     0.000000   object
Deaths                            4     0     0.000000    int64
Tesladriver                       2     4     0.015748   object
Teslaoccupant                     4     8     0.031496   object
Othervehicle                      5     3     0.011811   object
Cyclists/Peds                     3     2     0.007874   object
TSLA+cycl/peds                    5     1     0.003937   object
Model                             5     3     0.011811   object
AutoPilotclaimed                  3     4     0.015748   object
VerifiedTeslaAutopilotDeath       3     0     0.000000   object
Source                          254     0     0.000000   object
Note                              8   246     0.968504   object
Deceased1                        71   183     0.720472   object
Deceased2                        15   239     0.940945   object
Deceased3                         4   250     0.984252   object
Deceased4                         0   254     1.000000  float64

In [79]:


colunas = ['State','Tesladriver','Teslaoccupant','Othervehicle','Cyclists/Peds','TSLA+cycl/peds','Model','AutoPilotclaimed']
for i in colunas:
    df[i] = df[i].dropna()

#drop the columns
df.drop(['Note', 'Deceased3',
       'Deceased4'],axis=1,inplace=True)

# changing column values
colunas = df[['Deceased1','Deceased2','Model','State','Country']]
for i in colunas:
    df[i]=df[i].replace(' - ','Indefined')
    df[i]=df[i].replace(' ','')
    df[i]=df[i].fillna('Indefined')

colunas = df[['Tesladriver','Teslaoccupant','Othervehicle','Cyclists/Peds','TSLA+cycl/peds','AutoPilotclaimed','VerifiedTeslaAutopilotDeath']]
for i in colunas:
    df[i]=df[i].replace(' - ','#')
    df[i] = df[i].fillna('0')


# replacing data in the Models column, with models not added
df['Model'] =df['Model'].fillna('model not added')

# df['Date'] = pd.to_datetime(df['Date'])

# df['Date Month'] = df['Date'].dt.strftime('%b')
# df['Date Week'] = df['Date'].dt.strftime('%A')

In [80]:
tabela= pd.DataFrame({
    'Unique':df.nunique(),
    'Null':df.isna().sum(),
    'NullPercent':df.isna().sum() / len(df),
    'Types':df.dtypes.values
})
display(tabela)

                             Unique  Null  NullPercent   Types
Case#                           254     0          0.0   int64
Year                             10     0          0.0   int64
Date                            230     0          0.0  object
Country                          22     0          0.0  object
State                            35     0          0.0  object
Description                     212     0          0.0  object
Deaths                            4     0          0.0   int64
Tesladriver                       3     0          0.0  object
Teslaoccupant                     5     0          0.0  object
Othervehicle                      6     0          0.0  object
Cyclists/Peds                     4     0          0.0  object
TSLA+cycl/peds                    6     0          0.0  object
Model                             5     0          0.0  object
AutoPilotclaimed                  4     0          0.0  object
VerifiedTeslaAutopilotDeath       3     0          0.0  object
Source                          254     0          0.0  object
Deceased1                        72     0          0.0  object
Deceased2                        16     0          0.0  object

In [81]:
from sklearn.model_selection import train_test_split


# Create Column Transformer with 3 types of transformers
X=df.drop(columns=['Deaths'],axis=1)
y = df['Deaths']


num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

num_pipeline= Pipeline(
    steps=[
    ("imputer",SimpleImputer(strategy="median")),
    ("scaler",StandardScaler())

    ]
)
cat_pipeline=Pipeline(

    steps=[
    ("imputer",SimpleImputer(strategy="most_frequent")),
    ("one_hot_encoder",OneHotEncoder()),
    ("scaler",StandardScaler(with_mean=False))
    ]
)
preprocessor=ColumnTransformer(
    [
    ("num_pipeline",num_pipeline,num_features),
    ("cat_pipelines",cat_pipeline,cat_features)

    ]
)

X = preprocessor.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [84]:
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score


model=LinearRegression()
model.fit(X_train,y_train)

y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)


def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    score = r2_score(true, predicted)
    return (mae, score)

model_train_accuracy, r2_train  = evaluate_model(y_train, y_train_pred)
model_test_accuracy, r2_test = evaluate_model(y_test, y_test_pred)

In [91]:
r2_test

0.2834727100282509